*
!config/
!config/*.vim
!config/*.lua
!config/efm-langserver/
!config/efm-langserver/*.yaml
!.gitignore
!vimrc
!gvimrc
!mapping.vim
!command.vim
!download.vim
!globalvar.vim
!_localrc.vim
!snippets/
!snippets/*.snip
!dict/
!dict/*.txt
!after/
!after/**/
!after/**/*.vim
!menu.vim
