*
!config/
!config/*.vim
!.gitignore
!vimrc
!gvimrc
!mapping.vim
!command.vim
!download.vim
!globalvar.vim
!localrc.vim
!snippets/
!snippets/*.snip
!dict/
!dict/*.txt
!after/
!after/**/
!after/**/*.vim
!.vintrc.yml
